<div class="ui container mrg">
<div class="ui form">
<div class="field">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dark</th>
      <th>Light</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let theme of themeDataSet">
      <td>
        <label class="field">
          <input [value]="theme.name" type="text" placeholder="CSS Colour Name">
        </label>
      </td>
      <td>
        <label class="field">
          <input [value]="theme.dark" type="text" #darkColourCode (change)="darkColourCode.value = darkColourPicker.value"  placeholder="Last Name">
          <input [value]="theme.dark" style="border: none; padding: 0;" type="color" #darkColourPicker (input)="darkColourCode.value = darkColourPicker.value">
        </label>
      </td>
      <td>
        <label class="field">
          <input [value]="theme.light" type="text" #lightColourCode (change)="lightColourCode.value = lightColourPicker.value"  placeholder="Last Name">
          <input [value]="theme.light" style="border: none; padding: 0;" type="color" #lightColourPicker (input)="lightColourCode.value = lightColourPicker.value">
        </label>
      </td>
    </tr>
  </tbody>
</table>

</div>
</div>
</div>