<div class="ui container mrg">
    <table class="ui compact celled definition table">
        <thead class="full-width">
            <tr>
                
                <th>ID</th>
                <th>Style Name</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let theme of themes">
              
                <td> {{theme.id}} </td>
                <td>{{theme.name}}</td>
               
                <td class="collapsing">
                    <div class="ui fitted">
                      <a [routerLink]="['/theme', theme.id]"><i class="edit icon" ></i></a>  
                    </div>
                </td>
            </tr>


        </tbody>
        <tfoot class="full-width">
            <!-- <tr>
                <th></th>
                <th colspan="4">
                    <div class="ui right floated small primary labeled icon button" (click)="openDialog()">
                        <i class="user icon" ></i> Add Control
                        
                    </div>

                </th>
            </tr> -->
        </tfoot>
    </table>
</div>