
  <div class="cards__coverage">
    <div class="cards__header">What Would You Like To Do Today?</div>
    <div class="cards__flex">
       <app-cards 
       icon="../../assets/deep.png"
       title="App Controller"
       info="Manage new micro apps"
       select="Select"
       link="/control"
       ></app-cards>

       <app-cards 
       icon="../../assets/deep.png"
       title="App Theme"
       info="Manage App theme"
       select="Select"
       link="/theme"
       ></app-cards>
     
    </div>

</div>